#lotus-toolbar {
  position: fixed;
  display: flex;
  top: 0px;
  height: 70px;
  width: 100%;
  background-color: #039be5;
}
.lotus-options {
  position: relative;
  display: flex;
  top: 15px;
  left: 30%;
}
