.lotus-filter {
  position: relative;
  height: 64px;
  margin-left: 40px;
  width: 64px;
  cursor: pointer;
  bottom: 10px;
}
.lotus-filter:hover {
  border-radius: 32px;
  background-color: rgba(1, 140, 210, 0.78);
}
.filter-img {
  height: 30px;
  width: auto;
  left: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 5px;
}
.filter-subtitle {
  color: white;
  font-size: 10px;
  text-align: center;
}
